@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">App Version7</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>My first change to app for GIT</p>

    <p>My first change to app for GIT -- account vivanco.ggustavo@gmai..com</p>

</div>
